@model PRN_ASG3.Models.Booking

@{
    ViewData["Title"] = "Edit";
    Boolean[,] roomMap = ViewBag.RoomMap;
    decimal price = ViewBag.Price;
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <table>
                @for (int i = 0; i < roomMap.GetLength(0); i++)
                {
                    <tr>
                        @for (int j = 0; j < roomMap.GetLength(1); j++)
                        {
                            <td>
                                <input type="checkbox" name="Seats" value="@(i+"."+j)"
                                @(roomMap[i, j] ? "checked" : "") onclick="updateAmount(this.checked)" />
                            </td>
                        }
                    </tr>
                }
            </table>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control" value="@Model.Name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" name="Amount" id="amountInput" class="form-control" value="@Model.Amount" readonly />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model?.ShowId">Back to List</a>
</div>

<script>
    let amountInput = document.getElementById('amountInput');
    let checkBoxList = document.querySelectorAll('checkbox');
    let count = @ViewBag.Count;
    let price = @price;

    function updateAmount(state) {
        state ? count++ : count--;
        count = Math.max(count, 0);

        amountInput.value = count * price;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
