@model PRN_ASG3.Models.Show

@{
    ViewData["Title"] = "Create";
    Show show = new Show();
}

<style>
    a {
        text-decoration: none;
    }

    body {
        background-color: #fbf9ef;
    }
</style>

<h1>Create</h1>

<h4>Show</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@show.FilmId" class="control-label"></label>
                <select asp-for="@show.FilmId" class="form-control" name="filmId">
                    @foreach (Film f in ViewBag.Films)
                    {
                        <option value="@f.FilmId">@f.Title</option>
                    }
                </select>
                <span asp-validation-for="@show.FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@show.Price" class="control-label"></label>
                <input asp-for="@show.Price" class="form-control" name="price" id="price" value="0" />
                <span asp-validation-for="@show.Price" class="text-danger" id="pricealert"></span>

            </div>
            <div class="form-group">
                <label asp-for="@show.Slot" class="control-label"></label>
                <select asp-for="@show.Slot" class="form-control" name="slot">
                    @foreach (int s in ViewBag.Slot)
                    {
                        <option value="@s">@s</option>
                    }
                </select>
                <span asp-validation-for="@show.Slot" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var priceInput = document.getElementById('price');
    var createForm = document.getElementById('createform');
    var priceValidationSpan = document.getElementById('pricealert');

    priceInput.addEventListener('blur', function () {
        var price = parseFloat(this.value);

        if (isNaN(price) || price < 0 || price > 999999) {
            priceValidationSpan.textContent = 'Price must be from 0 to 999,999.';
            createForm.onsubmit = function (event) {
                event.preventDefault();
            };
        } else {
            priceValidationSpan.textContent = '';
            createForm.onsubmit = null;
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
