@model PRN_ASG3.Models.Show

@{
    ViewData["Title"] = "Details";
    var show = Model;
    var film = ViewData["film"] as PRN_ASG3.Models.Film;
    var room = ViewData["room"] as PRN_ASG3.Models.Room;
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ShowDate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => show.ShowDate)
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => show.Price)
        </dd>
        <dt class="col-sm-2">
            Slot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => show.Slot)
        </dd>
        <dt class="col-sm-2">
            Film
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => film.Title)
        </dd>
        <dt class="col-sm-2">
            RoomId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => room.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
