@model IEnumerable<PRN_ASG3.Models.Show>

@{
    ViewData["Title"] = "Index";
    var user = Context.Session.GetString("user");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                <a asp-controller="Bookings" asp-action="Index" asp-route-id="@item.ShowId">Bookings</a>
                    @if (user!=null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ShowId"> | Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ShowId"> | Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ShowId"> | Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
