@model IEnumerable<PRN_ASG3.Models.MutipleJoinClass>
@using PRN_ASG3.Models;
@{
    ViewData["Title"] = "Index";
    var user = Context.Session.GetString("user");
    Show show = new Show();
}

<style>
    a {
        text-decoration: none;
    }

    body {
        background-color: #fbf9ef;
    }
</style>

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@show.ShowDate" class="control-label"></label>
                <input asp-for="@show.ShowDate" type="date" class="form-control" name="showDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label asp-for="@show.RoomId" class="control-label"></label>
                <select asp-for ="@show.RoomId" class="form-control" name="roomId">
                    @foreach (Room r in ViewBag.Rooms)
                    {
                        <option value="@r.RoomId">@r.Name</option>                        
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@show.FilmId" class="control-label"></label>
                <select asp-for="@show.FilmId" class="form-control" name="filmId">
                    @foreach (Film f in ViewBag.Films)
                    {
                        <option value="@f.FilmId">@f.Title</option>
                    }
                </select>
            </div>            
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (user != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<p>
    The number of shows: @Model.Count()
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.show.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.show.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.show.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.film.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.show.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.show.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.show.Slot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.film.Title)
            </td>
            <td>
                    <a asp-controller="Bookings" asp-action="Index" asp-route-id="@item.show.ShowId">Bookings</a>
                    @if (user != null)
                    {
                        <a asp-controller="Show" asp-action="Edit" asp-route-id="@item.show.ShowId"> Edit</a>
                    }
                    <a asp-controller="Show" asp-action="Details" asp-route-id="@item.show.ShowId"> Details</a>
                    @if (user != null)
                    {
                        <a asp-controller="Show" asp-action="Delete" asp-route-id="@item.show.ShowId"> Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
